In [1]:
import pandas as pd
import requests
import json

In [2]:
# here is an example where we query the data between two dates and set the request limit to 10,000 rows (max is 50,000 rows)
url = "https://data.cityofnewyork.us/resource/76xm-jjuj?$where=incident_datetime between '2015-01-10T00:00:00' and '2015-01-15T00:00:00'&$limit=10000"

In [3]:
token = open("api-token.txt","r")
key = token.read()

In [4]:
headers = {
    "X-App-Token": key
}

In [5]:
r = requests.get(url)

In [6]:
df = pd.DataFrame(json.loads(r.text))

In [7]:
df.head()

,cad_incident_id,incident_datetime,initial_call_type,initial_severity_level_code,final_call_type,final_severity_level_code,first_assignment_datetime,valid_dispatch_rspns_time_indc,dispatch_response_seconds_qy,first_activation_datetime,...,zipcode,policeprecinct,citycouncildistrict,communitydistrict,communityschooldistrict,congressionaldistrict,reopen_indicator,special_event_indicator,standby_indicator,transfer_indicator
0,150100001,2015-01-10T00:00:38.000,SICPED,4,SICPED,4,2015-01-10T00:01:23.000,Y,45,2015-01-10T00:01:32.000,...,10452,44,16,204,9,15,N,N,N,N
1,150100003,2015-01-10T00:01:00.000,DIFFBR,2,DIFFBR,2,2015-01-10T00:01:18.000,Y,18,2015-01-10T00:01:24.000,...,10025,24,6,107,3,10,N,N,N,N
2,150100004,2015-01-10T00:01:06.000,DRUG,4,DRUG,4,2015-01-10T00:01:34.000,Y,28,2015-01-10T00:02:00.000,...,10019,18,3,104,2,10,N,N,N,N
3,150100005,2015-01-10T00:02:05.000,GYNHEM,5,GYNHEM,5,2015-01-10T00:02:24.000,Y,19,2015-01-10T00:02:41.000,...,11379,104,30,405,24,6,N,N,N,N
4,150100006,2015-01-10T00:02:34.000,EDP,7,DRUG,4,2015-01-10T00:02:42.000,Y,8,2015-01-10T00:04:17.000,...,11233,73,41,316,16,8,N,N,N,N

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 31 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   cad_incident_id                 10000 non-null  object
 1   incident_datetime               10000 non-null  object
 2   initial_call_type               10000 non-null  object
 3   initial_severity_level_code     10000 non-null  object
 4   final_call_type                 10000 non-null  object
 5   final_severity_level_code       10000 non-null  object
 6   first_assignment_datetime       9884 non-null   object
 7   valid_dispatch_rspns_time_indc  10000 non-null  object
 8   dispatch_response_seconds_qy    10000 non-null  object
 9   first_activation_datetime       9868 non-null   object
 10  first_on_scene_datetime         9642 non-null   object
 11  valid_incident_rspns_time_indc  10000 non-null  object
 12  incident_response_seconds_qy    9642 non-null   object
 13  incident_travel_tm_seconds_qy   9642 non-null   object
 14  first_to_hosp_datetime          7188 non-null   object
 15  first_hosp_arrival_datetime     7169 non-null   object
 16  incident_close_datetime         10000 non-null  object
 17  held_indicator                  10000 non-null  object
 18  incident_disposition_code       10000 non-null  object
 19  borough                         10000 non-null  object
 20  incident_dispatch_area          10000 non-null  object
 21  zipcode                         9806 non-null   object
 22  policeprecinct                  9806 non-null   object
 23  citycouncildistrict             9806 non-null   object
 24  communitydistrict               9806 non-null   object
 25  communityschooldistrict         9804 non-null   object
 26  congressionaldistrict           9806 non-null   object
 27  reopen_indicator                10000 non-null  object
 28  special_event_indicator         10000 non-null  object
 29  standby_indicator               10000 non-null  object
 30  transfer_indicator              10000 non-null  object
dtypes: object(31)
memory usage: 2.4+ MB