In [2]:
import pandas as pd
import requests
import json

In [37]:
# here is an example where we query the data between two dates and set the request limit to 10,000 rows (max is 50,000 rows)
url = "https://data.cityofnewyork.us/resource/76xm-jjuj?$where=incident_datetime between '2005-01-10T00:00:00' and '2005-01-20T00:00:00'&$limit=50000"

In [38]:
r = requests.get(url)

In [39]:
df = pd.DataFrame(json.loads(r.text))

In [40]:
df.head()

,cad_incident_id,incident_datetime,initial_call_type,initial_severity_level_code,final_call_type,final_severity_level_code,valid_dispatch_rspns_time_indc,dispatch_response_seconds_qy,valid_incident_rspns_time_indc,incident_close_datetime,...,special_event_indicator,standby_indicator,transfer_indicator,first_assignment_datetime,first_activation_datetime,first_on_scene_datetime,incident_response_seconds_qy,incident_travel_tm_seconds_qy,first_to_hosp_datetime,first_hosp_arrival_datetime
0,50100001,2005-01-10T00:00:12.000,OTHER,6,OTHER,6,N,0,N,2005-01-10T00:00:12.000,...,N,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,50100002,2005-01-10T00:00:23.000,OTHER,6,OTHER,6,N,0,N,2005-01-10T00:00:23.000,...,N,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,50100003,2005-01-10T00:00:36.000,OTHER,6,OTHER,6,N,0,N,2005-01-10T00:00:36.000,...,N,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,50100004,2005-01-10T00:00:41.000,OTHER,6,OTHER,6,N,0,N,2005-01-10T00:00:41.000,...,N,N,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,50100005,2005-01-10T00:00:59.000,DIFFBR,2,DIFFBR,2,Y,65,Y,2005-01-10T00:40:28.000,...,N,N,N,2005-01-10T00:02:04.000,2005-01-10T00:02:45.000,2005-01-10T00:10:38.000,579,514,NaN,NaN

In [42]:
len(df)

29496